anthropic>=0.8.1
google-auth>=2.27.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.1.1
google-cloud-aiplatform>=1.38.1
selenium>=4.17.2
webdriver-manager>=4.0.1
psutil>=5.9.8
pyjson5>=1.6.5
requests>=2.31.0